body {
  dominnt-baseline: all;
  background-color: rgb(7, 224, 224);
 
  background-image: rgb(47, 238, 238),yellow;
  background-image: url(bible1.jpeg), url(bible2.jpeg), url(bible3.jpeg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
.memberList{
margin: auto;
}

header {
  background-color: cyan;
  font-size: 20px;
  color: blue;
}

footer {
 background-color: cyan;
  color: blue;
  font-size: 30px;
  margin-top: 100%;
  height: 40px;
  margin-right: auto;
}
span {
  margin: auto;
  float: right;
}

table {
  box-shadow: 40px;
  background-color: whitesmoke;
  border: 2px;
  bor
}

button {
  background-color: #4caf50;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 200px;
  font-size: 24px;
  cursor: pointer;
  display: initial;
}

link {
  float: right;
  padding: 4px;
  background-attachment: 20px;
}

.box {
  width: 90%; /* Adjusted width for smaller screens */
  max-width: 400px; /* Added max-width to ensure responsiveness */
  padding: 20px;
  border: 15px solid #ccc;
  margin: 0 auto; /* Center the box */
  background-color: #f1f4f0;
}

#game-container {
  width: 90%;
  max-width: 600px;
  margin: 7px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
#message-form-inner{
  align-content: center;
}

img{
  height: 70px;
  border-radius: 50px;
}
#members{
  background-image: url(book.jpeg);
  align-content: center;
}
#div1 {
  position: absolute;
  left: 5%;
  width: 90%;
  border: 2px solid black;
  background-color: springgreen;
  padding: 5px;
  display: inline;
}
table{
  border: solid;
}

nav {
  background-color: lightcyan;
  height: 30px;
  color: black;
  padding: 10px;
  border: 10px;
  backface-visibility: hidden;
}

h1 {
  font-size: 24px;
  color: lightcyan;
  text-align: center;
  margin-top: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .box {
    width: 90%;
    max-width: none;
  }

  #game-container {
    width: 90%;
    max-width: none;
  }
 center{
  text-align: center;
  background-color: ghostwhite;
 }
 .span1{
  float: right;position: absolute;
  left: 5%;
  width: 90%;
  border: 2px solid black;
  background-color: springgreen;
  padding: 5px;
  display: inline;

 }
